/* Genel Header Stili */
header {
  background-color: #f8f9fa;
  padding: 0px 20px;
  height: 64px;
  text-align: center;
  box-shadow: 0px -5px 10px 6px rgb(140 140 140);
  position: relative;
  z-index: 10;
}
.header_nav {
  display: flex;
  align-items: center;
  height: 100%;
}
/* Dil Değiştirme Butonları */
header button {
  margin: 5px;
  padding: 10px 15px;
  font-size: 1rem;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

header button:hover {
  background-color: #0056b3;
}

/* Responsive Tasarım */
@media (max-width: 768px) {
  header nav ul {
    flex-direction: column;
    gap: 10px;
  }
}
.header_logo{
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 40px;
}

.header_logo-img {
  width: 120px; 
  height: auto; 
  transition: transform 0.3s ease; 
}

.giris-btn{
border: 1px solid #000 !important;
}
.sigup-btn{
background-color: #ea004b;
color: #ffffff;
transition: 0.2s ease; /* Geçiş efekti */
}
.sigup-btn:hover{
padding: 0.50rem  0.8rem;
background-color: #ea004b;
color: #fff;
}
.user_box{display: none;}
@media (max-width: 568px){
.header_auth-buttons,.header_language-switch{
  display: none;
}
.user_box{display: block;}
}

/* Slider Component*/
.slider{
  background-color: #F7F7F7;
  margin-bottom: 80px;
}
.slider-img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: left;
  height: 600px;
}
.slider-left{
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-box{ 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  text-align: left;
  width: 80%;
}
.slider-box h1{ 
  font-weight: 400;
}
.search-box{
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  display: flex;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 0px rgb(179, 179, 179);
}
.search-input{
  padding: 10px;
  border: 1px solid #d5d5d5;
  border-radius: 10px;
  width: 100%;
  margin-right: 5px;
}


/*Content CSS*/
.banner{
    margin-top: 20px;
    padding-bottom: 60px;
    text-align: left;
}
.banner-img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    height: 400px;
 margin-bottom: -180px;
}
.info-sinir{
    position: relative;
}
.info-box{
    background-color: #fff;
    border: 1px solid #9b9b9b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgb(95 95 95);
    z-index: 10;
}

@media (max-width: 768px){
  .banner{
    padding-bottom: 40px;
  }
  .info-box{
    position: relative;
  } 
}

/*City Card Css*/
.city-card{
    overflow: hidden;
    height: 200px;
    position: relative;
    border-radius: 20px;
}
.city-card:hover>.city-img{
    transform: scale(1.2); 
    transition: transform 0.3s ease-in-out; 
}
.city-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out; 
}
.city-card span{
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: #fff;
    display: block;
    padding: 10px 15px;
    border-radius: 10px;
}

/* INFO UYGULAMA */
.info-uyg{
    margin-top: 20px;
    padding-bottom: 200px;
    text-align: left;
}
.uyg-box {
    margin-top: 30px;
    background-color: #EA004B;
    border: 1px solid #c9c7c7;
    height: 390px;
    border-radius: 20px;
}
.uyg-left-box{
    display: flex;
    align-items: center;
}
.uyg-left-box p{
    color: #fff;
    font-size: 24px; 
}
.info-text p{
    font-size: 18px;
}
.qr-img {
    border: 1px solid #c8c8c8;
    padding: 7px; 
    border-radius: 7px;
    height: fit-content;
}
.qr-img img{
    max-width: 100px;
}
.app-img-box{
    position: relative;    
}
.app-box img{
    max-width: 100%;
}
.app-img{
  position: absolute;
  top: -20%;
  left: -10%;
  height: 140%;
  max-width: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .uyg-box {
    height: auto;
    padding-bottom: 20px;
  }
  .app-box img{
      max-width: 200px;
  }
  .app-box {
    text-align: center;
  }
  .app-img {
    position: static;
  }
}


/*home-info section */
.home-info{
    text-align: left;       
}
.home-info p{
    color: #939393;
    font-size: 17px;
}

ol {
    list-style-type: none; 
    padding-left: 0; 
}
.color-link{
    color: #fa0050;
}

/*Section Mutfak şehir*/
.mutfak-list{
    text-align: left;
}

.mutfak-liste{
    list-style-type: none;
    padding: 0;  
}
.mutfak-liste li{
    padding: 3px;
    padding-left: 0;
}
.mutfak-liste strong a{
    color: #000;
}
.mutfak-liste li a {
    color: #000;
    text-decoration: none; 
    border-bottom: 1px solid black; 
    transition: width 0.3s ease, height 0.3s ease; 
}
.mutfak-liste li a:hover {
    border-bottom: 3px solid black; 
}
.sehir-list{
    text-align: left;
}


/*FOOTER CSS*/
.indir-img {
  width: 100px;
}
.indir-img img{
  width: 100%;
}
.footer-legal a{
  padding: 10px;

}
.footer-list ul{
  list-style-type: none; 
  text-align: left;
  font-size: 18px;
}
.footer-list ul li{
  padding: 8px;
}

.footer-list ul li a{
  color: #2c2c2c;
  text-decoration: none; 
  border-bottom: 1px solid black; 
  transition: width 0.3s ease, height 0.3s ease; 
}
.footer-list ul li a:hover {
  border-bottom: 3px solid black; 
}
.logo-img{
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 40px;
}
.logo-img {
  width: 120px; 
  height: auto; 
  transition: transform 0.3s ease; 
}
.social-box li{
  list-style-type: none; 
  border: 1px solid #767676;
  margin: 10px;
  border-radius: 50%;
}
.social-box li a{ 
  border-radius: 50%;
}
.social-box li a:hover {
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px rgb(95 95 95);
 }
.social-box li a:active {
 border:none;
}

@media (max-width: 768px) {
  /* Mobil Css */
  .search-box {
    flex-direction: column;
    align-items: stretch;
  }

  .slider-box {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: start;
    text-align: left;
    width: 80%;
    padding-top: 50px;
  }

  .search-input{
    margin-bottom: 10px;
  }
  .slider-img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
      object-position: left;
  }
  .slider-img{
    max-width: 80%;
    height: auto;
    object-fit: cover;
    object-position: left;
    margin-left: auto;
    display: block;
    height: 200px;
  }
  .slider-left {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  }
  .slider-left h1{
    font-size: 16px;
    font-weight: bold;
    width: 40%;
    align-items: left;
    margin-bottom: 10px;
  }
}
